.check-mole-header {
  text-align: left !important;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  font-feature-settings: "salt" on, "liga" off;
  color: #18191f;
}

.check-status-p {
  text-align: left !important;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: "salt" on, "liga" off;
  color: #5a7386;
}

.check-status-span {
  width: 80%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: "salt" on, "liga" off;
  color: #5a7386;
}

.check-status-examine {
  text-align: left !important;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  font-feature-settings: "salt" on, "liga" off;
  color: #576b62;
}

.check-status {
  display: flex;
  flex-direction: column;
  background: #f9f9f9;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
}

.check-status p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-feature-settings: "salt" on, "liga" off;
  color: #404044;
}

.not-robot {
  text-align: start;
}

.ant-checkbox-inner {
  width: 20px !important;
  height: 20px !important;
}

.ant-form-item-label
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional):before {
  display: none !important;
}

.check-attach-photo-wrapper {
  border: 1px solid #985649;
  border-style: dotted;
  border-radius: 10px;
  height: 280px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.check-attach-photo-wrapper span {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 280px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ant-upload {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.check-attach-photo-img {
  visibility: unset !important;
  width: 180px;
  height: 180px;
  border-radius: 10px;
}

.check-attach-photo-name {
  margin-bottom: 10px;
}

.check-attach-photo-remove-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #18191f;
  cursor: pointer;
}

.text-area-class {
  height: auto !important;
}

@media only screen and (max-width: 576px) {
  .check-mole-header {
    font-size: 32px;
    line-height: 48px;
  }
}
